@import '@styles';

.rowWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.switcher {
    width: 60px;
    height: 30px;
    background-color: $black-70;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transition: background-color 0.3s;

    &_active {
        background-color: $purple;
    }
}

.switcherThumb {
    width: 24px;
    height: 24px;
    background-color: $purple;
    box-shadow: $drop-shadow-purple;
    border-radius: 20px;
    position: absolute;
    transition: transform 0.3s;
    z-index: 10;

    &.active {
        transform: translateX(30px);
        background-color: $white;
    }
}

.label {
    @include Label;
}