@import './screens.scss';
@import './vars.scss';


@mixin ResetButton {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

@mixin Text($size: 16px, $font-weight: 400, $line-height: 24.2px, $align: center) {
  font-weight: $font-weight;
  font-size: $size;
  text-align: $align;
  line-height: $line-height;
  font-family: inherit;
}

@mixin Input($align: left) {
  @include Text(16px, 400, 21.79px, $align);
  width: 100%;
  height: 50px;
  text-align: left;
  border-radius: 8px;
  border: none;
  background: $black-70;
  color: $purple;
  padding: 10px;
  border-bottom: 1px solid $purple;

  &::placeholder {
    color: $dirty-green-op80;
    font-size: smaller;
    color: $dirty-purple-op80;
  }

  &:focus,
  &:active,
  &:focus-visible {
    transition: border-color 0.3s ease;
    color: $white;
    outline: 0px;
    border-bottom: 1px solid $light-green-neon;
    box-shadow: $shadow-box-perimeter;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $brown;
    -webkit-box-shadow: $shadow-box-light;
  }

  &::-ms-reveal,
  &::-ms-clear,
  &::-webkit-clear-button,
  &::-webkit-password-toggle-button {
    display: none;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}