@import './screens.scss';
@import './vars.scss';

@mixin flexRow {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

@mixin HeaderStyles($fontSize: 94px, $fontWeight: 600, $textAlign: center, $color: $dark-grey) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $fontSize;
  text-align: $textAlign;
  color: $color;
  font-family: inherit;
  margin: 0;
}

@mixin ResetButton {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

@mixin Text($size: 16px, $font-weight: 400, $line-height: 24.2px, $align: center) {
  font-weight: $font-weight;
  font-size: $size;
  text-align: $align;
  line-height: $line-height;
  font-family: inherit;
}

@mixin Label {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: $grey;
}

@mixin Input($align: left) {
  @include Text(16px, 400, 21.79px, $align);
  width: 100%;
  height: 50px;
  text-align: left;
  border-radius: 8px;
  border: none;
  background: $black-70;
  color: $purple;
  padding: 10px;
  border-bottom: 1px solid $purple;

  &::placeholder {
    color: $dirty-green-op80;
    font-size: smaller;
    color: $dirty-purple-op80;
  }

  &:focus,
  &:active,
  &:focus-visible {
    transition: border-color 0.3s ease;
    color: $white;
    outline: 0px;
    border-bottom: 1px solid $light-green-neon;
    box-shadow: $shadow-box-perimeter;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $brown;
    -webkit-box-shadow: $shadow-box-light;
  }

  &::-ms-reveal,
  &::-ms-clear,
  &::-webkit-clear-button,
  &::-webkit-password-toggle-button {
    display: none;
  }
}

@mixin InputDate {
  //full calendar touch field mask
  font-family: inherit;
  position: relative;
  padding-right: 5px;
  color: transparent;

  &:invalid {
    color: transparent;
  }

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-clear-button {
    z-index: -10;
  }
}

@mixin BlockHeader($textAlign: center, $color: $dark-grey) {
  @include headerStyles(94px, 600, $textAlign, $color);
  letter-spacing: -0.02em;

  @media (max-width: $laptop) {
    @include headerStyles(58px, 600, $textAlign, $color);
  }

  @media (max-width: $tablet) {
    @include headerStyles(48px, 600, $textAlign, $color);
    letter-spacing: -0.03em;
  }

  @media (max-width: $mobile) {
    @include headerStyles(36px, 600, left, $color);
    letter-spacing: -0.02em;
  }
}

@mixin blockSubtitle($textAlign: center, $color: $dark-grey) {
  @include headerStyles(16px, 700, $textAlign, $color);
  letter-spacing: -0.02em;
  line-height: 19.2px;
  text-transform: uppercase;

  @media (max-width: $tablet) {
    @include headerStyles(12px, 700, $textAlign, $color);
    line-height: 14.4px;
  }

  @media (max-width: $mobile) {
    @include headerStyles(12px, 700, left, $color);
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}