//colors
$white: rgba(246, 255, 251, 1);
$black-deep: rgba(37, 39, 50, 1);
$black-70: rgba(30, 36, 33, 0.635);
$light-green-neon: rgba(191, 251, 226, 1);
$brown: rgba(255, 228, 228, 1);
$grey: rgb(178, 176, 176);
$dirty-green-op80: rgba(140, 163, 154, 0.8);
$purple-light: rgb(145, 153, 243);
$purple: rgba(145, 153, 243, 1);
$dirty-purple-op80: rgba(145, 140, 163, 0.8);
$deep-dark-purple: rgba(37, 39, 50, 1);

//box shadow
$shadow-box-light: 1px 2px 6px 0px rgba(224, 245, 236, 0.2);
$shadow-box-perimeter: 0px 0px 6px 0px rgba(224, 245, 236, 0.4);