@import '@styles';

.button {
  width: max-content;
  padding: 0 24px;
  margin: 0;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  border: none;
  color: $black;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  box-shadow: $shadow-box-button;
  line-height: 32.68px;
  text-align: center;
  transition: all 0.2s ease;

  &:hover,
  &:active {
    opacity: 0.6;
    border: none;
    transform: scale(1.01);
    cursor: pointer;
  }

  &:disabled {
    background: transparent;
    background-color: $grey;
    color: $white;
    cursor: default;

    &:hover {
      background-color: $grey;
      transform: none;
      opacity: 1;
    }
  }
}

.default {
  background: $gradient-main-bg;
}

.default-width {
  width: 310px;
  background: $gradient-main-bg;
}

.black {
  background-color: $black-70;
  color: $green-neon;
}

.round {
  width: 24px;
  height: 24px;
  padding: 2px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: $lemon-neon;
  color: $deep-dark-purple;
  border: 1.5px solid $lemon-neon;
  box-shadow: $shadow-box-bright-mini;
  font-size: 1.2rem;

  &:hover {
    background: $deep-dark-purple;
    color: $lemon-neon;
  }

  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    //background-color: #02d6fcfb;
    top: -50%;
    left: -50%;
    z-index: 100;
  }
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border-radius: 5px;
  box-shadow: none;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.mini {
  width: 100px;
  height: 40px;
  font-size: 1.1rem;
  padding: 0;

  background: $gradient-main-bg;
}